<%= form_with(model: application_record, local: true) do |form| %>
  <% if application_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_record.errors.count, "error") %> prohibited this application_record from being saved:</h2>

      <ul>
      <% application_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
