  <% @posts.each do |post| %>

  <table>
    <tr>
      <td>
        <%=post.title%>
      </td>
    </tr>
    <tr>
      <td>
        <%=post.description%>
      </td>
    </tr>

  </table>

  <% end %>